{% extends 'base/base.html' %}




{% block navbar %}

{% endblock %}

{% block content %}
    <div class="wrapper">
        <form method="post" class="form-signin">
            {% csrf_token %}
            <h2 class="form-signin-heading">Please login</h2>
            <input type="text" class="form-control" name="username" placeholder="Email Address" required="" autofocus="" />
            <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
            <label class="checkbox">
                <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
            </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            <div class="row margin">
                <div class="col-4">
                    <a class="form-signin-heading" href="#">Registrarme</a>
                </div>
                <div class="col-8">
                    <a class="form-signin-heading float-right" href="#">Olvide mi contrasena</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block footer %}

{% endblock %}