<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{% block title  %}
    base
    {% endblock %}</title>

    {% block extraheads %}

    {% endblock %}
</head>
<body>

{% block navbar %}

{% endblock %}

{% block content %}

{% endblock %}

{% block hooter %}

{% endblock %}


<script>
    {% block extrajs %}

    {% endblock %}

</script>

</body>
</html>